<template>
    <div id="player-overview">
        <h2>
            Player Overview
        </h2>
        <span>Name</span> : ${currentPlayer.name}
        <br />
        <span>Level</span> : ${currentPlayer.level} <span>Experience </span> : ${currentPlayer.experience}
        <br />
        <span>Gold</span> : ${currentPlayer.gold}
        <br />
        <span>Health</span> : ${currentPlayer.currentHealth} / ${currentPlayer.totalHealth}
        <br />
        <span>Strength</span> : ${currentPlayer.strength}
        <br />
        <span>Dexterity</span> : ${currentPlayer.dexterity}
        <br />
        <span>Toughness</span> : ${currentPlayer.toughness}
    </div>
</template>